.box-container {
    position: relative;
    padding:2.5px; 
    border-radius: 18px; 
    background: linear-gradient(to right, #ec407a, #ffee58); 
    width: fit-content;
  }
  
  .box-content {
    border-radius:16px; 
    padding: 4px;
    color: black;
    width: 140px;
    height: 185px;
    color:white;
    overflow-y: scroll;
  }

  .gradient-text {
    background: linear-gradient(to left, rgb(255, 89, 0), yellow);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 4.5rem;
  }

  
  
@media (min-width: 768px) and (max-width:1024px) {
  .bg-logo_english_big {
    width: 600px; 
    height: 100px;
    background: url('../../../../assets/fonts/logo_web_sprite.png') -13px -65px;
    position: absolute;
    background-size: cover;
  }
  .bg-logo_tamil_big {
    width: 635px;
    height: 130px;
    background: url(/src/assets/fonts/logo_web_sprite.png) 18px -160px;
    position: absolute;
    background-size: cover;
  }
}

@media (min-width: 1024px) and (max-width:2684px) {
  .bg-logo_english_big {
    width: 1000px; 
    height: 159px;
    background: url('../../../../assets/fonts/logo_web_sprite.png') -13px -106px;
    position: absolute;
    background-size: cover;
    /* background-repeat: no-repeat; */
  }


.bg-logo_english_small {
    width: 277px; height: 22px;
    background: url(/src/assets/fonts/logo_web_sprite.png) -25px -25px;
}

.bg-logo_tamil_big {
  width: 943px;
  height: 175px;
  background: url(/src/assets/fonts/logo_web_sprite.png) 18px -253px;
  position: absolute;
  background-size: cover;
 } 
}
/* .bg-logo_tamil_big {
    width: 1002px; 
    height: 210px;
    background: url('../../../../assets/fonts/logo_web_sprite.png') -25px -280px;
    position: absolute;
    position: absolute;
    background-size: cover;
} */



.bg-logo_tamil_small {
    width: 222px; height: 44px;
    background: url('../../../../assets/fonts/logo_web_sprite.png') -25px -97px;
}
  
  